/* heading-section-style */
.heading-section{
    display:flex;
    background-image: url(football-field.jpg);
    background-position-x: center;
    background-repeat: repeat 3 3;
    background-color: rgb(245, 230, 230);
}
/* heading-font-style */
.heading-first{
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    padding-right: 5%;
}
.font-style{
    color: black;
}
/* link-button-style */
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    margin: 0 10px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;

}
.link-button:hover {
    border-radius: 50px;
    background: purple;
    color: springgreen;

}
/* login-button-style */
.login-button{
    text-decoration: none;
    background-image: linear-gradient(purple,tomato);
    padding: 10px 70px;
    margin: 0 10px;
    display: inline-block;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.login-button:hover {
    border-radius: 50px;
    background: mediumspringgreen;
    color: black;
}
.login-button:before {
    content:'\f2f6';
    font-family:FontAwesome;
    padding-right: 10px;
}
/* banner-image-style */
.banner-image img{
    height: 600px;
    width: 600px;
    block-size: 500px;
    padding-right: 5%;
}
